<div class="col-md-12">
  <div class="card shadow">
    <div class="card-body">
      <footer class="page-footer font-small cyan darken-3">
        
        
        <div class="footer-copyright text-center py-3">© 2023 Copyright:
          <a href="/"> shopping.com</a>
        </div>
      </footer>
    </div>
  </div>
</div>
     