<div class="col-md-12">
  <div class="card shadow">
    <div class="card-body">
      <div class= "col-lg-10 mx-auto">
        <h1 class="text-center" mt-8 mx-8> Editing product</h1>
      </div>
      <%= render "form", product: @product %>
      <div>
        <%= link_to "Show this product", @product %>
        <%= link_to "Back to products", products_path %>
          
      </div>
    </div>
  </div>
</div>
