<p style="color: green"><%= notice %></p>
  <h1 class="text-center"> Products</h1>

<div id="products">
  <% @products.each do |product| %>
  <div class="col-md-12">
    <div class="card shadow">
      <div class="card-body">

       <%= render product %>
       <p>
        <%= link_to "Show this product", product %>
          
        </p>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to "New product", new_product_path %>
</div>
  


