<div class="col-md-12">
  <div class="card shadow">
    <div class="card-body">




<div class= "col-lg-10 mx-auto">
  <h1 class="text-center" mt-8 mx-8><%= image_tag('logos/product.png',width:'200')%></h1>

  <%= render "form", product: @product %>


  <%= link_to "Back to products", products_path %>
</div>
</div>
</div>
</div>

